{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "plugins": [
    "prettier"
  ],
  "globals": {
    "module": false,
    "readdirSync": false,
    "readFileSync": false,
    "describe": false,
    "it" : false,
    "expect" : false,
    "require" : false
  },
  "rules": {
    "no-console": 0,
    "semi": 2
  }
}